<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>Table</title>
</head>
<body>
<form method="POST" action="/create-list">
    <div>
        Create new list:
        <input type="text" th:name="name">
        <input type="submit" value="Create">
    </div>
</form>

<form method="POST" action="/delete-list">
    <div>
        Delete list:
        <input type="text" th:name="name">
        <input type="submit" value="Delete">
    </div>
</form>

<form method="GET" action="/get-list">
    <div>
        Open list:
        <input type="text" th:name="listName">
        <input type="submit" value="Open">
    </div>
</form>

<h3>Available lists</h3>
<table>
    <th:block th:each="list : ${taskLists}">
        <tr>
            <td th:text="${list.getName()}"/>
        </tr>
    </th:block>
</table>


</body>
<style>
    div {
        margin-top: 1rem;
    }
</style>
</html>